<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Lista de carros</title>
</head>
<body>
  <div class="container">
    <h1>Lista de veículos</h1>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
      <div class="row">
        <div class="col-lg-12 form-group">
          <form action="../car_consumption/report" method="get">
            <label for="search_field">
              Digite a placa de seu carro para ver o relatorio:
              <input type="text" id="search_field" name="search_field"/>

            </label>
            <button type="submit" class="btn-glyphicon" name="button">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </form>

          <table>
            <tr>
              <th>ID</th>
              <th>Placa</th>
              <th>Marca</th>
              <th>Modelo</th>
              <th>Ano</th>
              <th>Km</th>
              <th>Tipo de Combustível</th>
              <th>Capacidade</th>
              <th>Atualizar</th>
              <th>Add. Abastecimento</th>
            </tr>
            <% if @cars.size > 0 %>
            <% @cars.each do |element| %>
            <tr>
              <td><%= element.id %></td>
              <td><%= element.plate %></td>
              <td><%= element.manufacturer %></td>
              <td><%= element.model %></td>
              <td><%= element.year %></td>
              <td><%= element.odometer %></td>
              <td><%= element.fuel_type %></td>
              <td><%= element.fuel_capacity %></td>
              <td><form action="/cars/get/<%=element.id%>" method="get">
                <button type="submit" class="btn-glyphicon">
                  <i class="glyphicon glyphicon-edit"></i>
                </button>
              </form>

            </td>
              <td>
                <form action="/supplies/show/<%=element.id%>" method="get">
                  <button type="submit" class="btn-glyphicon">
                    <i class="glyphicon glyphicon-scale"></i>
                  </button>
                </form>

              </td>

              </tr>
              <% end %>

              <% else %>
              Não existem veículos cadastrados
              <% end %>

          </table>
        </div>
      </div>
  </div>
</body>
</html>
