<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Lista de carros</title>
</head>
<body>
  <div class="container">
    <h1>Lista de veículos</h1>
    <form action="/cars/index" method="post">
      <div class="row">
        <div class="col-lg-4 form-group">
          <table style="width:100%">
            <% @cars.each do |element| %>
            <tr>
              <th>fuel_type</th>
              <th>plate</th>
              <th>model</th>
              <th>year</th>
              <th>fuel_capacity</th>
              <th>manufacturer</th>
              <th>odometer</th>
            </tr>
            <tr>
              <td><%= element.fuel_type %></td>
              <td><%= element.plate %></td>
              <td><%= element.model %></td>
              <td><%= element.year %></td>
              <td><%= element.fuel_capacity %></td>
              <td><%= element.manufacturer %></td>
              <td><%= element.odometer %></td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
    </form>
  </div>
</body>
</html>
