<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Relatório</title>
  </head>
  <body>
    <div class="container">
      <h1>Relatório de Consumo</h1>
      <div class="row">
        <div class="col-lg-12 form-group">
          <table>
            <tr>
              <td>Serie</td>
              <td>Eficacia</td>
              <td>Distancia</td>
              <td>Custo total</td>
            </tr>
            <% @series_hash.each do |key, array| %>
            <tr>
              <td><%= key %></td>
              <td><%= array[0] %></td>
              <td><%= array[1] %></td>
              <td><%= array[2] %></td>
            </tr>
            <%end%>
          </table>
        </div>
      </div>
    </div>

    <div class="container">
      <h1>Relatório de Abastecimentos</h1>
      <div class="row">
        <div class="col-lg-12 form-group">
          <table>
            <tr>
              <td>Tipo de combustivel</td>
              <td>Odometro</td>
              <td>Quantidade de combustivel</td>
              <td>Custo total</td>
              <td>Custo por litro</td>
              <td>Data</td>
            </tr>
            <% @supplies.each do |supply| %>
            <tr>
              <td><%= supply.fuel_type %></td>
              <td><%= supply.odometer_from_car %></td>
              <td><%= supply.fuel_quantity %></td>
              <td><%= supply.total_cost %></td>
              <td><%= supply.cost_liter %></td>
              <td><%= supply.created_at.strftime("%d/%m/%Y") %></td>
            </tr>
            <%end%>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
